*

!.config
!.config/Code
!.config/Code/User
!.config/Code/User/settings.json
!.config/starship.toml
!.gitconfig
!.gitignore
!.gitmodules
!.zshrc

!genaisrc
!genaisrc/**/*

!packages
!packages/**/*

!package.json
!package-lock.json

!README.md
